
html {
    background-image: url(body-fon4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*body {
    background-color: #2f4e8a;

}*/

.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

